@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
    .solution {
        max-width: 767px;
    }
    .solution-title {
        width: 320px;
    }
    
    .mob-menu-phone {
        font-size: 36px;
        font-weight: 700;
    }
    .mob-menu-social-list {
        gap: 56px; 
    }
    .footer-input {
        width: 398px;
    }
    .modal {
        width: 392px;
    }
    .service-link {
        width: 396px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
  
    .mob-menu {
        display: none;
    }
    .menu-open-btn {
        display: none;
    }
    
    .header-menu-list {
        display: flex;
    }
.address-menu-item:not(:last-child) {
    margin-bottom: 12px;
}
    .address-menu-list {
        display: block;
       
    }
    .address-menu-link {
        font-size: 12px;
    }
    .paragraph-menu-item {
    width: calc((100% - 72px) / 2);
}
.paragraph-menu-list{
    padding: 0;
    gap: 24px 72px;
}
.paragraph-subtitle {
    text-align: left;
}
.team-menu-item {
    /* margin-bottom: 64px; */
}
.customers-icon-list {
    gap: 72px 24px;
}
.customer-link {
    width: 168px;
}
.solution-title {
    font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin:  0 auto 36px auto;
width: 496px;
max-width: 496px;
}
.solution {
    padding: 112px 136px;
    max-width: 1157px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)),
url(../images/solution-bg-tab.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)),
url(../images/solution-bg-tab2x.jpg);
    }
}
.footer {
    max-width: 1157px;
}
.footer-container {
    margin: 0 auto;
}
.footer-description {
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-left: 108px;
    margin-right: 24px;
    margin-bottom: 72px;
}
.social-container {
    text-align: left;
    margin: 0;
    /* margin-bottom: 104px; */
   
}
.subscribe-container {
    text-align: left;
    margin-left: 108px;
}

.footer-input {
    width: 264px;
}

.modal {
    width: 408px;
}
.service-menu {
    justify-content: center;
    margin-bottom: 64px;
}
.service-menu-item {
    width: calc((100% - 48px) / 2);
}
.service-link {
    width: 356px;
}
.menu-list {
    max-width: 768px;
}
.service-menu-list {
row-gap: 72px;
}
.menu-list {
    padding: 64px 0 96px;
}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    
    .mob-menu {
        display: none;
    }
    .menu-open-btn {
        display: none;
    }
    .header-container {
        /* padding: 24px 156px; */
    }
    .header-menu-list {
        display: flex;
    }

    .address-menu-list {
        display: flex;
        gap: 40px;
        margin-left: auto;
       
    }
    .address-menu-item:not(:last-child) {
        margin-bottom: 0;
    }
    .address-menu-link {
        font-size: 16px;
    }
    .solution {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)),
url(../images/solution-bg.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)),
url(../images/solution-bg2x.jpg);
    }
}
    .solution-title {
        font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin:  0 auto 48px auto;
width: 496px;
max-width: 496px;
    }
    .paragraph-menu {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .paragraph-menu-item {
        width: calc((100% - 72px) / 4);
}
.paragraph-item-icon {
    width: 264px;
height: 112px;
border-radius: 4px;
background: var(--cloud);
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.paragraph-subtitle {
    font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.description {
    font-weight: 400;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.paragraph-menu-list {
    gap: 24px;
}

.team {
    padding: 120px 0;
}
.doing {
    display: block;
}
.customer-link {
    width: 168px;
}
.customers {
    padding: 120px 0;
}
.customers-icon-list {
    gap: 24px;
}
.footer {
        max-width: 100%;
}
.footer-container {
    display: flex;
    margin: 0 auto;
    
}
.footer-description {
    margin: 0 120px 0 0;
    /* align-items: center;
    justify-content: center; */
}
.social-container {
/*     
    margin: 72px auto; */
    margin-right: 80px;
}
.footer-input {
    width: 264px; 
}
.subscribe-container {
    margin-left: 0;
}
.modal {
    width: 408px;
}
.service-menu-item {
    width: calc((100% - 48px) / 3);
}
.service-link {
    width: 360px;
}
.menu-list {
    max-width: 100%;
    padding: 96px 0 120px 0;
}
.service-menu-list {
row-gap: 48px;
}
.service-menu {
    justify-content: center;
    margin-bottom: 72px;
}
.modal{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
}